<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    <script src="socket.io.min.js"></script>
    <link rel="stylesheet" href="player.css">
    <script src="player.js"></script>
</head>
<body>
    <div class="playlist-marquee">
        <span id="playlist-marquee"></span>
    </div>
    <div id="ct" class="cont">
        <h1>다음곡:</h1>
        <h1 id="nextSong"></h1>
        <h2 id="timeLeft">10초 후 시작...</h2>
    </div>
    <video id="video-player" autoplay>
        <audio id="audio-player"></audio>
    </video>
    <img class="qr" id="qrc" src="" alt="">
</body>
</html>